/*===========================================
|   |   |   ABOUT COMPANY CSS START|   |   |   |   
==============================================*/
#about-company{
    @include pgap(155px,100px,0,0);
    .about-company-right{
        padding-top: 30px;
        margin-left: 30px;
        h3{
            @include font('Libre Baskerville', 24px, 400, #231F1F);
            text-transform: uppercase;
            padding-bottom: 28px;
        }
        h2{
            @include font('Libre Baskerville', 32px, 700, #222);
            padding-bottom: 60px;
            line-height: 38px;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: 30px;
                height: 3px;
                width: 200px;
                background-color: $serviceafter;
            }
        }
        p{
            @include font('Libre Baskerville', 18px, 400, #000);
            line-height: 26px;
        }
    }
}
/*===========================================
|   |   |   ABOUT COMPANY CSS START|   |   |   |   
==============================================*/