/*===========================================
|   |   |   BANNER CSS START|   |   |   |   
==============================================*/
#banner {
    @include pgap(70px, 70px, 0, 0);

    .banner-left {
        h1 {
            @include font('Libre Baskerville', 70px, 700, $banner);
            text-transform: capitalize;
            padding-bottom: 30px;
        }

        h3 {
            @include font('Roboto', 46px, 400, $banner2);
            text-transform: capitalize;
            padding-bottom: 30px;
        }

        .banner-left-item {
            padding-bottom: 40px;

            .banner-left-number {
                margin-right: 80px;

                h4 {
                    @include font('Libre Baskerville', 32px, 700, $banner3);

                }
            }

            .banner-left-content {
                p {
                    @include font('Roboto', 24px, 400, $banner2);
                    line-height: 35px;

                    span {
                        @include font('Libre Baskerville', 24px, 700, $banner2);
                        text-transform: capitalize;
                    }
                }
            }
        }

      .banner-left-link{
        a {
            display: inline-block;
            @include pgap(23px, 23px, 44px, 44px);
            border-radius: 8px;
            background-color: $bannerbg;
            @include font('Roboto', 18px, 400, $normal);
            text-transform: capitalize;
        }
      }
    }
}

/*===========================================
|   |   |   BANNER CSS END|   |   |   |   
==============================================*/


