/*===========================================
|   |   |   FEATURE CSS START|   |   |   |   
==============================================*/
#features{
    .feature-container{
        background-color: $featurebg;
        border-radius: 5px 5px 0 0;
        .feature-head{
            h2{
                @include font('Libre Baskerville', 32px, 700, $service);
                @include pgap(40px,0,0,0);
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 180px;
                    height: 3px;
                    background-color: $serviceafter;
                }
            }
        }
        .featute-item-head{
            @include pgap(105px,530px,0,0);

            a{
                display: inline-block;
                height: 56px;
                width: 105px;
                background-color: $navbg;
                line-height: 56px;
                border-radius: 5px;
                @include mgap(0,0,5px,5px);
                @include font('Roboto', 12px, 400, $banner2);
                text-transform: capitalize;
            }
        }
    }
}
/*===========================================
|   |   |   FEATURE CSS END|   |   |   |   
==============================================*/


