#page-link-up{
    background-color:#fff;
    @include pgap(10px,10px,0,0);
    .page-linkup {
        margin-left: 20px;
    
        span {
            padding-right: 5px;
            svg{
                color: $nav;
                font-size: 16px;
                font-weight: 300;
            }
        }
    
        a {
            @include font('Open Sans', 16px, 400, $nav);
            text-transform: capitalize;
            padding-right: 5px;
        }
    }
}
