$navbg:#d9d9d9;
$navhoverbg:#000;
$bannerbg:#AC4A97;
$serviceafter:#DC2E3D;
$servicebtn:#744AAC;
$featurebg:#B4A4A4;
$footerbg:#3A3333;
$footerline:#E7D3D3;
$clientafter:#FD720D;
$clienticon:#F89820;
$clientline:#F05340;
